$light_blue: #517197;
$sidebar_item_button: rgba(54, 72, 94, 0.92);
$sidebar_item_button_lang: rgba(54, 72, 94, 0);
$medium_blue: #36485e;
$light_blue_hover: #36485e;
$light_black: #3a3a3a;
$light_meduim_black: #303030;
$light_grey: #9e9e9e;


$light_white: #f1faee;
$medium_light_blue: #5085a7;
$dark_blue: #1d3557;
$quiet_green: #2a9d8f;
$warm_green: #21a5b8;