<div *ngIf="events.length != 0">
    <!-- <div *ngIf="eventsList.length !== 0"> -->
      <!-- <div class="container-fluid"> -->
        <h1 class="text-center details-title my-4">{{'manage-events-page' | translate}}</h1>
          <div class="row">
              <div class="col-10 col-sm-8 col-md-6 col-xl-4">
                  <div class="form-group mb-4">
                      <input
                        id="exampleFormControlInput2"
                        [(ngModel)]="name"
                        (keyup)="applyFilter()"
                        type="text"
                        placeholder="{{'event-search-input' | translate}}"
                        title="{{'event-search-input' | translate}}"
                        class="form-control form-control-underlined border-primary search-input">
                  </div>
              </div>
              <!-- <div class="col-5 col-md-6 col-xl-8 align-self-center">
                <a class="btn btn-primary btn-sm mb-2 float-right" routerLink="/events/add">
                  <i class="fa fa-plus"></i>
                  {{'new-event' | translate}}
                </a>
              </div> -->
          </div>
        <div class="table-responsive text-center">
            <table class="table table-bordered main-table">
                <tr class="bg-dark text-white">
                    <td>{{'name' | translate }}</td>
                    <td>{{'comment-number' | translate }}</td>
                    <td>{{'date' | translate }}</td>
                    <td>{{'description' | translate }}</td>
                    <td>{{'location' | translate }}</td>
                    <td>{{'status' | translate }}</td>
                    <td>{{'sub-type' | translate }}</td>
                    <td>{{'type' | translate }}</td>
                    <td>{{'control' | translate}}</td>
                </tr>
                <tr *ngFor="let event of eventsList | paginate: config">
                    <td>{{event?.name ? event?.name : '-'}}</td>
                    <td>{{event?.commentNumber ? event?.commentNumber : '-'}}</td>
                    <td style="white-space: nowrap;">{{event?.date ? (event?.date.timestamp * 1000 | date: 'yyyy-MM-dd') : '-'}}</td>
                    <td class="td-custom">{{event?.description ? event?.description : '-'}}</td>
                    <td>{{event?.location ? event?.location : '-'}}</td>
                    <td>{{event?.status ? event?.status : '-'}}</td>
                    <td>{{event?.subType ? event?.subType : '-'}}</td>
                    <td>{{event?.type ? event?.type : '-'}}</td>
                  <!-- <td>
                    <a (click)="suggest(car.id, (car.suggest ? false : true))"
                       class="text-primary mr-1 mb-1"
                       title="Change To {{car.suggest ? 'Not Recommended' : 'Recommended' }}"

                       style="cursor: pointer; {{ suggestProgress ? 'pointer-events: none;' : '' }}">
                      {{ car.suggest ? 'Recommended' : 'Not Recommended' }}
                    </a>
                  </td> -->
                  <td>
                      <a routerLink="edit/{{event.id}}" class="btn btn-success btn-sm mr-1 mb-1">
                        {{'update' | translate}}
                    </a>
                    <!-- <a (click)="delete(event.id)" class="btn btn-danger confirm btn-sm mr-1 mb-1 {{isDeleted ? 'disabled' : ''}}">
                        {{'delete' | translate}}
                      </a> -->
                  </td>
                </tr>
            </table>
            <pagination-controls class="my-pagination"
                                 (pageChange)="pageChanged($event)"
                                 autoHide="true"
                                 maxSize="5"
                                 responsive="true"
                                 previousLabel="{{'prev' | translate}}"
                                 nextLabel="{{'next' | translate}}"
                                 screenReaderPaginationLabel="Pagination"
                                 screenReaderPageLabel="page"
                                 screenReaderCurrentLabel="{{'you-are-on-page' | translate}}">
            </pagination-controls>
        </div>
      <!-- </div> -->
    <!-- </div> -->
    <!-- <div *ngIf="eventsList.length === 0">
        <div class="container">
            <div class="alert alert-primary text-center mt-5">{{'event-not-found' | translate}}</div>
            <a routerLink="/cars/add" class="btn btn-primary btn-sm mb-2 float-right">
                <i class="fa fa-plus"></i>
                {{'add-new-car' | translate}}
            </a>
        </div>
    </div> -->
</div>
<div *ngIf="events.length == 0">
    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
</div>
