<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>306204376848-atl4mbtihs9ch4hdpd45e1b09921k649.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.306204376848-atl4mbtihs9ch4hdpd45e1b09921k649</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>306204376848-ircjq2sf21sge5v11vij997drhf0n6tr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCVhYsdKJIfhTHNTc9MTaKeVfkDN1yrdGc</string>
	<key>GCM_SENDER_ID</key>
	<string>306204376848</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fastprog.soyah</string>
	<key>PROJECT_ID</key>
	<string>sohay-693df</string>
	<key>STORAGE_BUCKET</key>
	<string>sohay-693df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:306204376848:ios:e84ac1506728268a42af95</string>
	<key>DATABASE_URL</key>
	<string>https://sohay-693df.firebaseio.com</string>
</dict>
</plist>